@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');


body{
    background-image: url(../img/panal.png);
    font-family: Arial, Helvetica, sans-serif;
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.grid{
    text-align: left;
    display: grid;
    grid-template-columns:  50% 50%;
    gap: 5em;
}

.grid1{
    text-align: left;
    display: grid;
    grid-template-columns:  50% 50%;
    gap: 5em;
}

.grid2{
    text-align: left;
    display: grid;
    grid-template-columns:  50% 50%;
    gap: 1em;
}

form{
    background-color: white;
    padding: 50px 85px 55px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    width: 900px;
}

li{
    color: #181818;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
} 

.line{
    display: inline-block;
    width: 50px;
    height: 7px;
    background: linear-gradient(
        90deg,
        rgba(0, 195, 254, 1)0%,
        rgba(34, 65, 241, 1)77%);
}

.boton{
    font-size: 16px;
    color: #FFCFFF;
    border: 0;
    border-radius: 25px;
    background: linear-gradient(
        90deg,
        rgba(34, 65, 241, 1)0%,
        rgba(0, 195, 254, 1)77%);
    box-shadow: 0 0 20px rgba(0, 38, 254, 0.4);
    cursor: pointer;
    width: 100px;
    height: 50px;
}

.boton:hover{
    background: linear-gradient(
        90deg,
        rgba(0, 195, 254, 1)0%,
        rgba(34, 65, 241, 1)77%);
        
}

.custom-image {
    width: 50px;
    height: 50px;
}


.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%; /* Proporción de aspecto 16:9 (Divide la altura por el ancho y multiplica por 100) */
    position: relative;
    height: 0;
  }
  
  .map-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

/* .producto{
    padding:17px 10px ;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 2px solid #EDEDED;
    color: #181818;
    outline: none;
} */

/* .grid{
    text-align: center;
    display: grid;
    grid-template-columns:  33%;
    gap: 1em;
}  */


@media (min-width: 768px) {
    .grid,
    .grid1,
    .grid2 {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  form {
    padding: 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
  }
  
  li {
    color: #181818;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  
  .line {
    display: inline-block;
    width: 50px;
    height: 7px;
    background: linear-gradient(90deg, rgba(0, 195, 254, 1) 0%, rgba(34, 65, 241, 1) 77%);
  }
  
  .boton {
    font-size: 16px;
    color: #ffcfff;
    border: 0;
    border-radius: 25px;
    background: linear-gradient(90deg, rgba(34, 65, 241, 1) 0%, rgba(0, 195, 254, 1) 77%);
    box-shadow: 0 0 20px rgba(0, 38, 254, 0.4);
    cursor: pointer;
    width: 100px;
    height: 50px;
  }
  
  .boton:hover {
    background: linear-gradient(90deg, rgba(0, 195, 254, 1) 0%, rgba(34, 65, 241, 1) 77%);
  }
  
  .custom-image {
    width: 50px;
    height: 50px;
  }

  
  /* Estilos adicionales para dispositivos móviles */
  
  @media (max-width: 767px) {
    .grid,
    .grid1,
    .grid2 {
      grid-template-columns: 1fr;
      gap: 1em;
    }
  
    form {
      padding: 30px;
      width: 90%;
    }
  }
  
  @media (max-width: 480px) {
    li {
      font-size: 14px;
    }
  
    .boton {
      font-size: 14px;
      width: 80px;
      height: 40px;
    }
  }